h2 Deleting job

p
  form(class='well',action='/serp/delete/#{id}',method='post')
    fieldset
      legend Are you sure to delete the job ?
      
      div.form-actions
        input(type='submit',class='btn-large btn-danger',name='delete',value='Delete')
        
        input(type='submit',class='btn-large btn-info',name='cancel',value='Cancel')
        input(type="hidden",name='jobId',value='#{id}')