mixin groupForm(data)
  div.group
    hr
    
    div.row
      div.span6
        label.control-label Group name:
        div.controls
          input(type="text",name="groupNames[]",class="input span4",value="#{data.name || ''}")
      div.span6
        button(class='btn btn-danger remove-group') 
          i.icon-trash
          |  Remove
    br

    div.control-group
      label.control-label Matching URL-s:
      div.controls
        textarea(class='span4',rows='2',name='urls[]') #{data.urls || ''}

h2 Adding new job

div
  p Creating new job which will be added into database for execution

form(class="form-horizontal",name="add-job",method="post",action="/serp/add-job")
  fieldset
    div.control-group
      label.control-label Job name:
      div.controls
        input(type="text",name="name",class="span4")

    div.control-group
      label.control-label Start date:
      div.controls
        input(type="text",name="startDate",class="input span2 auto-kal")

    div.control-group
      label.control-label Time:
      div.controls
        input(type="text",name="startTime",class="input span2")
        p.help-block Use time format HH:MM

    div.control-group
      label.control-label Repeat every:
      div.controls
        select(class='span2',name='repeat')
          option no-repeat
          option day
          option week
          option month

    div.control-group
      label.control-label Sources:
      div.controls
        select(class='span2',name='sources',multiple='multiple')
          option google
          option neti.ee
          option yahoo
          option duckduckgo
        p.help-block Source where to look for result pages, to choose multiple items use CTRl+ left click.

    div.control-group
      label.control-label Keywords:
      div.controls
        textarea(class='span4',rows='4',name='keywords')

    h3 Group matching
    p.group-text It is useful to group the matching sets, like if the company has many sub domains: 
      button(class='btn btn-mini btn-info',class='add-group')
        i.icon-plus-sign
        |  Add group
      mixin groupForm({})
      
    div.form-actions
      input(type="submit",value="Add job",name="add-job",class="btn btn-primary btn-medium")

  script(id='groupTpl',type="text/x-jquery-tmpl")
    mixin groupForm({})

  script(type='text/javascript',src='/javascripts/new-page.js')
  script(type='text/javascript',src='/javascripts/jquery.tmpl.min.js')