div.hero-unit
  div
    h1 SERP tool
    p
      |  Want to track your postion in search engines, Google, Bing and many others. 
      |  Register now and use this great tool to collect results from search engines.

div.row
  div.span6
    include form/login
  div.span6
    include form/register
