!!! 5
html
  head
    title #{title} - SERP tool
    link(rel='stylesheet', href='/plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/plugins/kalendae/kalendae.css')

    script(type='text/javascript',src='/javascripts/head.load.min.js')

  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a(class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="brand",href="/") 
            b SERP tool
          div.nav-collapse
            ul.nav
              li
                a(href="/")
                  i.icon-home.icon-white
                  |  Home
              - if (user)
                ul.nav
                  li
                    a(href="/serp/new")
                      i.icon-ok-circle.icon-white
                      |  New job

            p.navbar-text.pull-right
              - if (user)
                  span Logged in as 
                  a(href="/user/logout") #{user.email}
              - else
                a(href="/") Login user
    
    div.container
        div!= partial('alert', flash)   
        != body 

      hr
      footer
        p Made by Risto Novik &copy; #{new Date().getFullYear()}

  script
    head.js(
      { jquery: '/javascripts/jquery-1.7.2.min.js' },
      '/plugins/bootstrap/js/bootstrap.min.js',
      { highcharts: '/javascripts/highcharts.js' },
      { exporting: '/javascripts/highcharts.exporting.js' }
    );    